.ipynb_checkpoints
__pycache__
*.egg-info
docs/_site
build
dist
.vscode
*.gif
*.csv
*/data/*
*.parquet
tmp
_docs/
sidebar.yml
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
_proc
lightning_logs/